[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bets.covid19"]
	path = bets.covid19
	url = https://github.com/qingyuanzhao/bets.covid19
[submodule "seismic"]
	path = seismic
	url = https://github.com/qingyuanzhao/seismic
